<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabEvent">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPayment">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Payments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabProfile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Sahil Meher</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
